# Travis CI build configuration.

# Copyright Contributors to the Climbing Ratings project
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.


# See status at https://travis-ci.com/github/p00ya/climbing_ratings

# Opt in to build config validation.
version: ~> 1.0

# Common configuration for all Python jobs.
_python_job_tmpl: &python_job_tmpl
  install:
    - python3 -VV
    - pip3 install Cython numpy pytest black
    - python3 setup.py develop
    - pip3 freeze --all
    - env
  script:
    - python3 -m black --check climbing_ratings setup.py tests/*.py
    - python3 setup.py build_ext --inplace
    - python3 -X dev -m pytest

jobs:
  include:
    - python: "3.8"
      <<: *python_job_tmpl
    - python: "3.7"
      <<: *python_job_tmpl
    - python: "3.6"
      <<: *python_job_tmpl
    - language: r
      r: "3.6.2"
      use_devtools: true
      # These things are big and slow.
      pandoc: false
      latex: false
      cache:
        directories:
          - $HOME/.cache/R/R.cache
        packages: true
      r_packages:
        - styler
      before_install:
        # Use Travis's default installation logic, which assumes the working
        # directory is an R package.
        - cd climbr
      before_script:
        # Change back to the top-level directory before running tests.
        - cd "$TRAVIS_BUILD_DIR"
      script:
        - Rscript --vanilla -e 'quit(status = any(styler::style_dir()$changed))'
        - Rscript --vanilla -e 'devtools::check("climbr")'
        - Rscript --vanilla -e 'testthat::test_dir("tests")'
language: python
os: linux
dist: bionic
env:
  TZ: UTC
cache:
  packages: true
  pip: true
